@media screen and (max-width: 2048px) {
  #menu1 {
    border: none !important; }

  #rmenu2 {
    font-size: 110% !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 -30% !important; }

  .page_item {
    padding: 0% 1% 0% 0% !important; }

  .wp-image-476 {
    margin: -8% 0 0 35% !important;
    width: 100% !important; }

  .homeText1 {
    font-size: 120% !important; }

  .homeText2 {
    font-size: 90% !important; }

  .aboutText {
    font-size: 110% !important; }

  .wp-image-466 {
    margin: 5% 0 0 0 !important; }

  .servicesText {
    font-size: 120% !important; }

  .testimonialTable {
    width: 60% !important;
    margin: 0 0 0 47% !important; }

  .testimonialText {
    font-size: 100% !important; } }
@media screen and (max-width: 1224px) {
  #menu1 {
    border: none !important; }

  #rmenu2 {
    font-size: 100% !important;
    letter-spacing: 1px !important;
    min-width: 316px !important;
    margin: 0 0 0 -30% !important; }

  .page_item {
    padding: 0% 1% 0% 0% !important; }

  .wp-image-476 {
    margin: -8% 0 0 35% !important;
    width: 100% !important; }

  .homeText1 {
    font-size: 100% !important; }

  .homeText2 {
    font-size: 70% !important; }

  .aboutText {
    font-size: 90% !important; }

  .wp-image-466 {
    margin: 5% 0 0 0 !important; }

  .servicesText {
    font-size: 90% !important; }

  .testimonialTable {
    width: 70% !important;
    margin: 0 0 0 47% !important; }

  .testimonialText {
    font-size: 85% !important; } }
@media screen and (max-width: 1124px) {
  #menu1 {
    border: none !important; }

  #rmenu2 {
    font-size: 100% !important;
    letter-spacing: 1px !important;
    min-width: 316px !important;
    margin: 0 0 0 -30% !important; }

  .page_item {
    padding: 0% 1% 0% 0% !important; }

  .wp-image-476 {
    margin: -8% 0 0 35% !important;
    width: 100% !important; }

  .homeText1 {
    font-size: 100% !important; }

  .homeText2 {
    font-size: 70% !important; }

  .aboutText {
    font-size: 90% !important; }

  .wp-image-466 {
    margin: 5% 0 0 0 !important; }

  .servicesText {
    font-size: 90% !important; }

  .testimonialTable {
    width: 70% !important;
    margin: 0 0 0 47% !important; }

  .testimonialText {
    font-size: 85% !important; } }
@media screen and (max-width: 1024px) {
  #menu1 {
    border: none !important; }

  #rmenu2 {
    font-size: 100% !important;
    letter-spacing: 1px !important;
    min-width: 316px !important;
    margin: 0 0 0 -30% !important; }

  .page_item {
    padding: 0% 1% 0% 0% !important; }

  .wp-image-476 {
    margin: -8% 0 0 35% !important;
    width: 100% !important; }

  .homeText1 {
    font-size: 100% !important; }

  .homeText2 {
    font-size: 70% !important; }

  .aboutText {
    font-size: 90% !important; }

  .wp-image-466 {
    margin: 5% 0 0 0 !important; }

  .servicesText {
    font-size: 90% !important; }

  .testimonialTable {
    width: 70% !important;
    margin: 0 0 0 47% !important; }

  .testimonialText {
    font-size: 85% !important; } }
@media screen and (max-width: 968px) {
  #menu1 {
    border: none !important; }

  #rmenu2 {
    font-size: 100% !important;
    letter-spacing: 1px -1px !important;
    min-width: 316px !important;
    margin: 0 0 0 -30% !important; }

  .page_item {
    padding: 0% 1% 0% 0% !important; }

  .wp-image-476 {
    margin: -8% 0 0 35% !important;
    width: 100% !important; }

  .homeText1 {
    font-size: 90% !important; }

  .homeText2 {
    font-size: 60% !important; }

  .aboutText {
    font-size: 80% !important; }

  .wp-image-466 {
    margin: 5% 0 0 0 !important; }

  .servicesText {
    font-size: 80% !important; }

  .testimonialTable {
    width: 80% !important;
    margin: 0 0 0 47% !important; }

  .testimonialText {
    font-size: 70% !important;
    width: 70% !important;
    margin: 0 0 0 0% !important;
    float: none !important; }

  .wp-image-640 {
    width: 70% !important;
    margin: 0 0 0 0% !important; }

  .wp-image-854 {
    width: 70% !important;
    margin: 0 0 0 0% !important; }

  .wp-image-856 {
    width: 70% !important;
    margin: 0 0 0 0% !important; }

  .wp-caption-text {
    font-size: 40% !important; } }
@media screen and (max-width: 768px) {
  #menu1 {
    border: none !important; }

  #rmenu2 {
    font-size: 100% !important;
    letter-spacing: 1px -1px !important;
    min-width: 316px !important;
    margin: 0 0 0 -30% !important; }

  .page_item {
    padding: 0% 1% 0% 0% !important; }

  .wp-image-476 {
    margin: -8% 0 0 35% !important;
    width: 100% !important; }

  .homeText1 {
    font-size: 90% !important; }

  .homeText2 {
    font-size: 60% !important; }

  .aboutText {
    font-size: 80% !important; }

  .wp-image-466 {
    margin: 5% 0 0 0 !important; }

  .servicesText {
    font-size: 80% !important; }

  .testimonialTable {
    width: 90% !important;
    margin: 0 0 0 37% !important; }

  .testimonialText {
    font-size: 50% !important;
    width: 70% !important;
    margin: 0 0 0 0% !important;
    float: none !important; }

  .wp-image-640 {
    width: 60% !important;
    margin: 0 0 0 0% !important; }

  .wp-image-854 {
    width: 60% !important;
    margin: 0 0 0 0% !important; }

  .wp-image-856 {
    width: 60% !important;
    margin: 0 0 0 0% !important; }

  .wp-caption-text {
    font-size: 40% !important; }

  #footer {
    background-image: none !important; } }
