$h1FontSize:34px;
$widgetTitleFontSize:34px;
/*
%pages *%page-center %page-right %cats %cat-center %cat-right %logo %image %bar1 %bar2
*/
@media screen and (max-width: 2048px) {

h1 { font-size: $h1FontSize + 8 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }

.blogtitle { font-size: $h1FontSize + 6 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 10 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 22 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}
#container{width:95% !important;}



}
@media screen and (max-width: 1224px) {

h1 { font-size: $h1FontSize + 6 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }


.blogtitle { font-size: $h1FontSize + 4 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 12 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 22 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}
#container{width:95% !important;}



}
@media screen and (max-width: 1124px) {

h1 { font-size: $h1FontSize + 4 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }

.blogtitle { font-size: $h1FontSize + 2 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 14 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 22 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}
#container{width:95% !important;}



}
@media screen and (max-width: 1024px) {

h1 { font-size: $h1FontSize + 2 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }

.blogtitle { font-size: $h1FontSize - 0 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 16 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 22 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}

#container{width:95% !important;}




}
@media screen and (max-width: 968px) {

h1 { font-size: $h1FontSize - 2px !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }

.blogtitle { font-size: $h1FontSize - 2 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 18 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 22 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}

#container{width:95% !important;}



}
@media screen and (max-width: 768px) {

h1 { font-size: $h1FontSize - 4px !important; line-height: 1.2; margin: 0.3em 0 10px !important; }

h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }

.blogtitle { font-size: $h1FontSize - 4 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 18 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 24 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}

#container{width:95% !important;}



}
@media screen and (max-width: 640px)  {

h1 { font-size: $h1FontSize - 6px !important; line-height: 1.2; margin: 0.3em 0 10px !important; }

h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }

.blogtitle { font-size: $h1FontSize - 6 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 18 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 26 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}

#container{width:95% !important;}



}
@media screen and (max-width: 524px)  {

h1 { font-size: $h1FontSize - 8px !important; line-height: 1.2; margin: 0.3em 0 10px !important; }

h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }

.blogtitle { font-size: $h1FontSize - 8 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 18 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 28 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}

#container{width:95% !important;}



}
@media screen and (max-width: 480px)  {

h1 { font-size: $h1FontSize - 10px !important; line-height: 1.2; margin: 0.3em 0 10px !important; }

h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }

.blogtitle { font-size: $h1FontSize - 10 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 20 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 28 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}

#container{width:95% !important;}
.post{width:300px !important;margin-left:0 !important;}


}
@media screen and (max-width: 320px)  {

h1 { font-size: $h1FontSize - 12px !important; line-height: 1.2; margin: 0.3em 0 10px !important; }

h2 { font-size: 28px; line-height: 1.3; margin: 1em 0 .2em; }
h3 { font-size: 24px; line-height: 1.3; margin: 1em 0 .2em; }
h4 { font-size: 19px; margin: 1.33em 0 .2em; }
h5 { font-size: 1.3em; margin: 1.67em 0; font-weight: bold; }
h6 { font-size: 1.15em; margin: 1.67em 0; font-weight: bold; }

.blogtitle { font-size: $h1FontSize - 12 !important; line-height: 1.2; margin: 0.3em 0 10px !important; }
.tagline {font-size: $h1FontSize - 22 !important;}
.widget{width:100% !important;background-color:transparent !important;}
.widget-title {font-size: $widgetTitleFontSize - 28 !important;}
.post-headline {font-size: $widgetTitleFontSize - 26 !important;}
#wrapper{width:95% !important;}
#container{width:95% !important;}
.widget{width:0% !important;background-color:black !important;}
.post{min-width:300px !important;}
#right{width:0px !important;}
}
