/*
%pages *%page-center %page-right %cats %cat-center %cat-right %logo %image %bar1 %bar2
*/
@media screen and (max-width: 2048px) {
  /* line 11, ../sass/mediaqueries.scss */
  h1 {
    font-size: 42px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 12, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 13, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 14, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 15, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 16, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 18, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 40px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 19, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 24px !important; }

  /* line 20, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important; }

  /* line 21, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 12px !important; }

  /* line 22, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 23, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 24, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 26, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 30, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 30px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 38, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; } }
@media screen and (max-width: 1224px) {
  /* line 45, ../sass/mediaqueries.scss */
  h1 {
    font-size: 40px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 46, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 47, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 48, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 49, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 50, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 53, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 38px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 54, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 22px !important; }

  /* line 55, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important; }

  /* line 56, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 12px !important; }

  /* line 57, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 58, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 59, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 60, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 64, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 28px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 73, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; } }
@media screen and (max-width: 1124px) {
  /* line 80, ../sass/mediaqueries.scss */
  h1 {
    font-size: 38px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 81, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 82, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 83, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 84, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 85, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 87, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 36px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 88, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 20px !important; }

  /* line 89, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important; }

  /* line 90, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 12px !important; }

  /* line 91, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 92, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 93, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 94, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 98, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 26px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 106, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; } }
@media screen and (max-width: 1024px) {
  /* line 114, ../sass/mediaqueries.scss */
  h1 {
    font-size: 36px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 115, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 116, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 117, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 118, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 119, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 121, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 34px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 122, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 18px !important; }

  /* line 123, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important; }

  /* line 124, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 12px !important; }

  /* line 125, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 126, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 128, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 129, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 133, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 20px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 141, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; } }
@media screen and (max-width: 968px) {
  /* line 149, ../sass/mediaqueries.scss */
  h1 {
    font-size: 32px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 150, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 151, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 152, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 153, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 154, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 156, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 32px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 157, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 16px !important; }

  /* line 158, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important; }

  /* line 159, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 12px !important; }

  /* line 160, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 161, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 163, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 164, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 168, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 18px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 176, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; } }
@media screen and (max-width: 768px) {
  /* line 183, ../sass/mediaqueries.scss */
  h1 {
    font-size: 30px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 185, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 186, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 187, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 188, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 189, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 191, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 30px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 192, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 16px !important; }

  /* line 193, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important; }

  /* line 194, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 10px !important; }

  /* line 195, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 196, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 198, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 199, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 203, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 16px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 211, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; }

  /* line 214, ../sass/mediaqueries.scss */
  .post {
    width: 100% !important;
    min-height: 300px !important;
    background-color: cyan !important;
    z-index: 1000 !important;
    margin-left: -237px !important;
    position: absolute !important;
    float: left !important; } }
@media screen and (max-width: 640px) {
  /* line 222, ../sass/mediaqueries.scss */
  h1 {
    font-size: 28px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 224, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 225, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 226, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 227, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 228, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 230, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 28px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 231, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 16px !important; }

  /* line 232, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important;
    position: absolute !important;
    float: left !important; }

  /* line 233, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 8px !important; }

  /* line 234, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 235, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 237, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 238, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 242, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 14px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 250, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; }

  /* line 252, ../sass/mediaqueries.scss */
  .post {
    width: 100% !important;
    min-height: 300px !important;
    background-color: cyan !important;
    z-index: 1000 !important;
    margin-left: -237px !important;
    position: absolute !important;
    float: left !important; } }
@media screen and (max-width: 524px) {
  /* line 261, ../sass/mediaqueries.scss */
  h1 {
    font-size: 26px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 263, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 264, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 265, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 266, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 267, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 269, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 26px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 270, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 16px !important; }

  /* line 271, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important;
    position: absolute !important;
    float: left !important; }

  /* line 272, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 6px !important; }

  /* line 273, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 274, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 276, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 277, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 281, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 12px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 289, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; }

  /* line 291, ../sass/mediaqueries.scss */
  .post {
    width: 100% !important;
    min-height: 300px !important;
    background-color: cyan !important;
    z-index: 1000 !important;
    margin-left: -237px !important;
    position: absolute !important;
    float: left !important; } }
@media screen and (max-width: 480px) {
  /* line 300, ../sass/mediaqueries.scss */
  h1 {
    font-size: 24px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 302, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 303, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 304, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 305, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 306, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 308, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 24px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 309, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 14px !important; }

  /* line 310, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important;
    position: absolute !important;
    float: left !important; }

  /* line 311, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 6px !important; }

  /* line 312, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 313, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 315, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 316, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 320, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 10px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 328, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; }

  /* line 330, ../sass/mediaqueries.scss */
  .post {
    width: 100% !important;
    min-height: 300px !important;
    background-color: cyan !important;
    z-index: 1000 !important;
    margin-left: -237px !important;
    position: absolute !important;
    float: left !important; } }
@media screen and (max-width: 320px) {
  /* line 340, ../sass/mediaqueries.scss */
  h1 {
    font-size: 22px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 342, ../sass/mediaqueries.scss */
  h2 {
    font-size: 28px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 343, ../sass/mediaqueries.scss */
  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 1em 0 0.2em; }

  /* line 344, ../sass/mediaqueries.scss */
  h4 {
    font-size: 19px;
    margin: 1.33em 0 0.2em; }

  /* line 345, ../sass/mediaqueries.scss */
  h5 {
    font-size: 1.3em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 346, ../sass/mediaqueries.scss */
  h6 {
    font-size: 1.15em;
    margin: 1.67em 0;
    font-weight: bold; }

  /* line 348, ../sass/mediaqueries.scss */
  .blogtitle {
    font-size: 22px !important;
    line-height: 1.2;
    margin: 0.3em 0 10px !important; }

  /* line 349, ../sass/mediaqueries.scss */
  .tagline {
    font-size: 12px !important; }

  /* line 350, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important; }

  /* line 351, ../sass/mediaqueries.scss */
  .widget-title {
    font-size: 6px !important; }

  /* line 352, ../sass/mediaqueries.scss */
  .post-headline {
    font-size: 8px !important; }

  /* line 353, ../sass/mediaqueries.scss */
  #wrapper {
    width: 95% !important; }

  /* line 354, ../sass/mediaqueries.scss */
  #container {
    width: 95% !important; }

  /* line 355, ../sass/mediaqueries.scss */
  #menu1 {
    border: none !important; }

  /* line 359, ../sass/mediaqueries.scss */
  #rmenu2 span {
    font-size: 8px !important;
    letter-spacing: 4px !important;
    min-width: 316px !important;
    margin: 0 0 0 0% !important; }

  /* line 367, ../sass/mediaqueries.scss */
  .current_page_item {
    font-size: 12px !important; }

  /* line 369, ../sass/mediaqueries.scss */
  .widget {
    width: 100% !important;
    background-color: transparent !important;
    position: absolute !important;
    float: left !important; }

  /* line 370, ../sass/mediaqueries.scss */
  .post {
    width: 100% !important;
    min-height: 300px !important;
    background-color: cyan !important;
    z-index: 1000 !important;
    margin-left: -237px !important;
    position: absolute !important;
    float: left !important; } }
